### HaxeFlixel
export/*

### HaxeLib
.haxelib/

### History and ionide
.history
.ionide

### VsCode
.vscode/*
*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json